USE [master]
GO
/****** Object:  Database [HiringStaff]    Script Date: 02.07.2024 0:33:51 ******/
CREATE DATABASE [HiringStaff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HiringStaff', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HiringStaff.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HiringStaff_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HiringStaff_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HiringStaff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HiringStaff]
GO
/****** Object:  Table [dbo].[Авторизация]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторизация](
	[Код авторизации] [int] IDENTITY(1,1) NOT NULL,
	[Код сотрудника] [int] NULL,
	[Логин] [nvarchar](250) NULL,
	[Пароль] [nvarchar](250) NULL,
 CONSTRAINT [PK_Авторизация] PRIMARY KEY CLUSTERED 
(
	[Код авторизации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[График работы]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[График работы](
	[Код графика работы] [int] IDENTITY(1,1) NOT NULL,
	[Код сотрудника] [int] NOT NULL,
	[Дата начала работы] [datetime] NOT NULL,
	[Дата окончания работы] [datetime] NOT NULL,
 CONSTRAINT [PK_График работы] PRIMARY KEY CLUSTERED 
(
	[Код графика работы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Документы]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Документы](
	[Код документа] [int] IDENTITY(1,1) NOT NULL,
	[Код сотрудника] [int] NOT NULL,
	[Серия паспорта] [int] NOT NULL,
	[Номер паспорта] [int] NOT NULL,
	[ИНН] [bigint] NOT NULL,
	[СНИЛС] [bigint] NOT NULL,
	[Номер медицинского полиса] [bigint] NOT NULL,
	[Фотография] [varbinary](max) NULL,
	[Номер трудового договора] [bigint] NULL,
	[Срок действия договора] [int] NULL,
 CONSTRAINT [PK_Документы] PRIMARY KEY CLUSTERED 
(
	[Код документа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[Код должности] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Должность] PRIMARY KEY CLUSTERED 
(
	[Код должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Зарплаты сотрудников]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Зарплаты сотрудников](
	[Код зарплаты] [int] IDENTITY(1,1) NOT NULL,
	[Код должности] [int] NOT NULL,
	[Стаж] [int] NOT NULL,
	[Зарплата] [float] NOT NULL,
 CONSTRAINT [PK_Зарплата] PRIMARY KEY CLUSTERED 
(
	[Код зарплаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Классы]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Классы](
	[Код класса] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](250) NOT NULL,
	[Код классного руководителя] [int] NULL,
	[Код классного кабинета] [int] NULL,
	[Количество учеников] [int] NOT NULL,
 CONSTRAINT [PK_Классы] PRIMARY KEY CLUSTERED 
(
	[Код класса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Помещение]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Помещение](
	[Код помещения] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](250) NOT NULL,
	[Код ответственного сотрудника] [int] NULL,
	[Площадь] [float] NOT NULL,
 CONSTRAINT [PK_Помещение] PRIMARY KEY CLUSTERED 
(
	[Код помещения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Предмет]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Предмет](
	[Код предмета] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Предмет] PRIMARY KEY CLUSTERED 
(
	[Код предмета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Преподаваемые предметы]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаваемые предметы](
	[Код преподоваемого предмета] [int] IDENTITY(1,1) NOT NULL,
	[Код учителя] [int] NOT NULL,
	[Код предмета] [int] NOT NULL,
 CONSTRAINT [PK_Преподоваемые предметы] PRIMARY KEY CLUSTERED 
(
	[Код преподоваемого предмета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Преподаваемые часы]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаваемые часы](
	[Код преподаваемых часов] [int] IDENTITY(1,1) NOT NULL,
	[Код предмета] [int] NOT NULL,
	[Код класса] [int] NOT NULL,
	[Дата распределения часов] [date] NOT NULL,
	[Количество часов] [int] NOT NULL,
 CONSTRAINT [PK_Преподоваемые часы] PRIMARY KEY CLUSTERED 
(
	[Код преподаваемых часов] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 02.07.2024 0:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Код сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](250) NOT NULL,
	[Имя] [nvarchar](250) NOT NULL,
	[Отчество] [nvarchar](250) NOT NULL,
	[Номер телефона] [nvarchar](16) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Дата рождения] [date] NOT NULL,
	[Стаж] [int] NOT NULL,
	[Адрес] [nvarchar](250) NOT NULL,
	[Дата приема на работу] [date] NULL,
	[Код должности] [int] NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Авторизация] ON 

INSERT [dbo].[Авторизация] ([Код авторизации], [Код сотрудника], [Логин], [Пароль]) VALUES (1, 1, N'iva', N'iva')
INSERT [dbo].[Авторизация] ([Код авторизации], [Код сотрудника], [Логин], [Пароль]) VALUES (3, 4, N'den', N'den')
SET IDENTITY_INSERT [dbo].[Авторизация] OFF
SET IDENTITY_INSERT [dbo].[График работы] ON 

INSERT [dbo].[График работы] ([Код графика работы], [Код сотрудника], [Дата начала работы], [Дата окончания работы]) VALUES (2, 1, CAST(N'2024-06-29 00:00:00.000' AS DateTime), CAST(N'2024-06-30 00:00:00.000' AS DateTime))
INSERT [dbo].[График работы] ([Код графика работы], [Код сотрудника], [Дата начала работы], [Дата окончания работы]) VALUES (3, 1, CAST(N'2024-06-28 00:00:00.000' AS DateTime), CAST(N'2024-06-28 02:00:00.000' AS DateTime))
INSERT [dbo].[График работы] ([Код графика работы], [Код сотрудника], [Дата начала работы], [Дата окончания работы]) VALUES (4, 1, CAST(N'2024-06-28 00:00:00.000' AS DateTime), CAST(N'2024-06-28 02:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[График работы] OFF
SET IDENTITY_INSERT [dbo].[Документы] ON 

INSERT [dbo].[Документы] ([Код документа], [Код сотрудника], [Серия паспорта], [Номер паспорта], [ИНН], [СНИЛС], [Номер медицинского полиса], [Фотография], [Номер трудового договора], [Срок действия договора]) VALUES (2, 4, 3213, 321321, 123123131231, 32131231231, 5464564564344234, NULL, 13, 10)
SET IDENTITY_INSERT [dbo].[Документы] OFF
SET IDENTITY_INSERT [dbo].[Должность] ON 

INSERT [dbo].[Должность] ([Код должности], [Наименование]) VALUES (1, N'Директор')
INSERT [dbo].[Должность] ([Код должности], [Наименование]) VALUES (2, N'Учитель')
INSERT [dbo].[Должность] ([Код должности], [Наименование]) VALUES (3, N'Завуч')
SET IDENTITY_INSERT [dbo].[Должность] OFF
SET IDENTITY_INSERT [dbo].[Зарплаты сотрудников] ON 

INSERT [dbo].[Зарплаты сотрудников] ([Код зарплаты], [Код должности], [Стаж], [Зарплата]) VALUES (1, 1, 0, 20000)
INSERT [dbo].[Зарплаты сотрудников] ([Код зарплаты], [Код должности], [Стаж], [Зарплата]) VALUES (2, 1, 5, 25000)
INSERT [dbo].[Зарплаты сотрудников] ([Код зарплаты], [Код должности], [Стаж], [Зарплата]) VALUES (3, 1, 10, 30000)
SET IDENTITY_INSERT [dbo].[Зарплаты сотрудников] OFF
SET IDENTITY_INSERT [dbo].[Классы] ON 

INSERT [dbo].[Классы] ([Код класса], [Наименование], [Код классного руководителя], [Код классного кабинета], [Количество учеников]) VALUES (1, N'1А', NULL, NULL, 15)
INSERT [dbo].[Классы] ([Код класса], [Наименование], [Код классного руководителя], [Код классного кабинета], [Количество учеников]) VALUES (2, N'1Б', 4, NULL, 16)
INSERT [dbo].[Классы] ([Код класса], [Наименование], [Код классного руководителя], [Код классного кабинета], [Количество учеников]) VALUES (3, N'1В', NULL, NULL, 15)
SET IDENTITY_INSERT [dbo].[Классы] OFF
SET IDENTITY_INSERT [dbo].[Помещение] ON 

INSERT [dbo].[Помещение] ([Код помещения], [Наименование], [Код ответственного сотрудника], [Площадь]) VALUES (1, N'Кабинет 1', 4, 50)
SET IDENTITY_INSERT [dbo].[Помещение] OFF
SET IDENTITY_INSERT [dbo].[Предмет] ON 

INSERT [dbo].[Предмет] ([Код предмета], [Наименование]) VALUES (1, N'Математика')
INSERT [dbo].[Предмет] ([Код предмета], [Наименование]) VALUES (2, N'Русский язык')
SET IDENTITY_INSERT [dbo].[Предмет] OFF
SET IDENTITY_INSERT [dbo].[Преподаваемые предметы] ON 

INSERT [dbo].[Преподаваемые предметы] ([Код преподоваемого предмета], [Код учителя], [Код предмета]) VALUES (1, 1, 1)
INSERT [dbo].[Преподаваемые предметы] ([Код преподоваемого предмета], [Код учителя], [Код предмета]) VALUES (5, 4, 1)
SET IDENTITY_INSERT [dbo].[Преподаваемые предметы] OFF
SET IDENTITY_INSERT [dbo].[Преподаваемые часы] ON 

INSERT [dbo].[Преподаваемые часы] ([Код преподаваемых часов], [Код предмета], [Код класса], [Дата распределения часов], [Количество часов]) VALUES (1, 1, 1, CAST(N'2024-06-29' AS Date), 150)
SET IDENTITY_INSERT [dbo].[Преподаваемые часы] OFF
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([Код сотрудника], [Фамилия], [Имя], [Отчество], [Номер телефона], [Email], [Дата рождения], [Стаж], [Адрес], [Дата приема на работу], [Код должности]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'+7(956)654-45-45', N'ivan@mail.ru', CAST(N'1998-12-05' AS Date), 9, N'г.Киров ул.Ленина д.15', CAST(N'2018-06-20' AS Date), 1)
INSERT [dbo].[Сотрудник] ([Код сотрудника], [Фамилия], [Имя], [Отчество], [Номер телефона], [Email], [Дата рождения], [Стаж], [Адрес], [Дата приема на работу], [Код должности]) VALUES (4, N'Денисов', N'Илья', N'Иванович', N'+7(956)458-45-45', N'den@mail.ru', CAST(N'2000-02-10' AS Date), 6, N'г.Киров ул.Ленина д.16', CAST(N'2024-05-15' AS Date), 7)
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
ALTER TABLE [dbo].[Авторизация]  WITH CHECK ADD  CONSTRAINT [FK_Авторизация_Сотрудник] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код сотрудника])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Авторизация] CHECK CONSTRAINT [FK_Авторизация_Сотрудник]
GO
ALTER TABLE [dbo].[График работы]  WITH CHECK ADD  CONSTRAINT [FK_График работы_Сотрудник] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код сотрудника])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[График работы] CHECK CONSTRAINT [FK_График работы_Сотрудник]
GO
ALTER TABLE [dbo].[Документы]  WITH CHECK ADD  CONSTRAINT [FK_Документы_Сотрудник] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код сотрудника])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Документы] CHECK CONSTRAINT [FK_Документы_Сотрудник]
GO
ALTER TABLE [dbo].[Зарплаты сотрудников]  WITH CHECK ADD  CONSTRAINT [FK_Зарплаты сотрудников_Должность] FOREIGN KEY([Код должности])
REFERENCES [dbo].[Должность] ([Код должности])
GO
ALTER TABLE [dbo].[Зарплаты сотрудников] CHECK CONSTRAINT [FK_Зарплаты сотрудников_Должность]
GO
ALTER TABLE [dbo].[Классы]  WITH CHECK ADD  CONSTRAINT [FK_Классы_Помещение] FOREIGN KEY([Код классного кабинета])
REFERENCES [dbo].[Помещение] ([Код помещения])
GO
ALTER TABLE [dbo].[Классы] CHECK CONSTRAINT [FK_Классы_Помещение]
GO
ALTER TABLE [dbo].[Классы]  WITH CHECK ADD  CONSTRAINT [FK_Классы_Сотрудник] FOREIGN KEY([Код классного руководителя])
REFERENCES [dbo].[Сотрудник] ([Код сотрудника])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Классы] CHECK CONSTRAINT [FK_Классы_Сотрудник]
GO
ALTER TABLE [dbo].[Помещение]  WITH CHECK ADD  CONSTRAINT [FK_Помещение_Сотрудник] FOREIGN KEY([Код ответственного сотрудника])
REFERENCES [dbo].[Сотрудник] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Помещение] CHECK CONSTRAINT [FK_Помещение_Сотрудник]
GO
ALTER TABLE [dbo].[Преподаваемые предметы]  WITH CHECK ADD  CONSTRAINT [FK_Преподаваемые предметы_Предмет] FOREIGN KEY([Код предмета])
REFERENCES [dbo].[Предмет] ([Код предмета])
GO
ALTER TABLE [dbo].[Преподаваемые предметы] CHECK CONSTRAINT [FK_Преподаваемые предметы_Предмет]
GO
ALTER TABLE [dbo].[Преподаваемые предметы]  WITH CHECK ADD  CONSTRAINT [FK_Преподаваемые предметы_Сотрудник] FOREIGN KEY([Код учителя])
REFERENCES [dbo].[Сотрудник] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Преподаваемые предметы] CHECK CONSTRAINT [FK_Преподаваемые предметы_Сотрудник]
GO
ALTER TABLE [dbo].[Преподаваемые часы]  WITH CHECK ADD  CONSTRAINT [FK_Преподаваемые часы_Классы] FOREIGN KEY([Код класса])
REFERENCES [dbo].[Классы] ([Код класса])
GO
ALTER TABLE [dbo].[Преподаваемые часы] CHECK CONSTRAINT [FK_Преподаваемые часы_Классы]
GO
ALTER TABLE [dbo].[Преподаваемые часы]  WITH CHECK ADD  CONSTRAINT [FK_Преподаваемые часы_Предмет] FOREIGN KEY([Код предмета])
REFERENCES [dbo].[Предмет] ([Код предмета])
GO
ALTER TABLE [dbo].[Преподаваемые часы] CHECK CONSTRAINT [FK_Преподаваемые часы_Предмет]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Должность] FOREIGN KEY([Код должности])
REFERENCES [dbo].[Должность] ([Код должности])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Должность]
GO
USE [master]
GO
